:root{
    --clr-active-input-border: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --clr-error: hsl(0, 100%, 66%);
    --clr-secondary-text: hsl(270, 3%, 87%); /*light grayish violet*/
    --clr-primary-placeholder: hsl(279, 6%, 55%); /*dark grayish violet*/
    --clr-primary-bg: hsl(0, 0%, 100%); /*white*/
    --clr-primary-text: hsl(278, 68%, 11%); /*very dark violet*/

    --fw--regular: 500;

    --fs-100: 0.65rem;
    --fs-200: 0.75rem;
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.375rem;
}

*{
    margin: 0;
}

*::before,
*::after{
    box-sizing: border-box;
    font: inherit;
}

img,
svg{
    display: block;
    max-width: 100%;
}


    /*********************
            Layout
    *********************/
body{
    font-family: "Space Grotesk";
    font-size: var(--fs-300);
    font-weight: var(--fw--regular);
    background-image: url(images/bg-main-mobile.png);
    background-color: var(--clr-primary-bg);
    background-size: 100vw auto;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

main{
    order: 2;
}

aside{
    order: 1;
    position: relative;

    display: flex;
    flex-direction: column;
    min-width: 375px;
    margin: 0 auto;
}

.card-front{
    order: 2;

    position: absolute;
    left: 1em;
    bottom: 1.75em;
}

.card-back{
    order: 1;
    align-self: flex-end;
    position: absolute;
    top: 2.4em;
    right: 1em;
}

.complete-state{
    display: none;
}

@media (min-width: 500px) {
    body{
        background-image: url(images/bg-main-desktop.png);
        background-size: auto;
        min-height: 100vh;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        gap: 0;
    }

    main{
        width: 50%;
    }

    aside{
        width: 50%;
        min-width: 700px;
        max-width: 720px;
        margin: 0 auto;
        gap: 4.5em;

        margin: 0;
    }

    .card-front{
        order: 1;

        scale: 1.25;

        left: 12em;
        bottom: 0;
    }

    .card-back{
        order: 2;

        scale: 1.25;
        top: 0;
        right: 4.5em;
        align-self: flex-end;
        
    }

}

    /*********************
            Card
    *********************/

.card{
    width: 75%;
    max-width: 282px;
    color: var(--clr-primary-bg);
    letter-spacing: 1px;
}

.card-front, .card-back{
    position: relative;
}

.card-logo, .card-details{
    position: absolute;
}

.card-logo{
    width: 20%;
    top: 1em;
    left: 1em;
}

.card-details{
    width: 88%;
    max-width: 260px;

    bottom: 1em;
    left: 1em;
}

.num-block{
    font-size: var(--fs-400);
    margin-right: 0.5em;
    letter-spacing: 2px;
}

.card-info{
    font-size: var(--fs-100);
    margin-top: 1.25em;
    text-transform: uppercase;

    display: flex;
    justify-content: space-between;
}

.card-cvv{
    position: absolute;
    top: 45%;
    right: 13%;
    font-size: var(--fs-100);
}

@media (min-width: 500px) {
    .card{
        width: 90%;
        max-width: 350px;
    }

    .card-details{
        left: 1.5em;
        bottom: 1.5em;
    }
}

    /*********************
            Form
    *********************/

.card-detail-form{
    color: var(--clr-primary-text);
    width: 88%;
    margin: auto;
    gap: 1.5em;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    justify-content: space-between;
}

.card-exp-container{
    width: 44%;
}

.card-cvc-container{
    width: 55%;
}

.exp-month, .exp-year{
    width: 35%;
    margin-right: 0.5em;
}

.cfm-btn{
    font-family: "Space Grotesk";
    font-weight: var(--fw--regular);
    background-color: var(--clr-primary-text);
    color: var(--clr-primary-bg);
    padding: 1em;
    border: none;
    border-radius: 8px;
}

label{
    margin-bottom: 0.75em;
    text-transform: uppercase;
    font-size: var(--fs-200);
    font-weight: var(--fw--regular);
    letter-spacing: 1px;
    font-weight: bold;
}

input{
    padding: 0.75em 1em;
    border-radius: 8px;
    border: 1px solid var(--clr-secondary-text);
}

input:active, input:focus{
    background: linear-gradient(var(--clr-primary-bg), var(--clr-primary-bg)) padding-box, var(--clr-active-input-border) border-box;
    border: 1px solid transparent;
}

input::placeholder{
    font-size: var(--fs-400);
    font-family: "Space Grotesk";
    color: var(--clr-secondary-text);
    font-weight: var(--fw--regular);
    letter-spacing: 1px;
}

@media (min-width: 500px) {
    .card-detail-form{
        width: 55%;
        min-width: 400px;
        margin-left: 6em;
    }

    input{
        padding: 1em;
    }

    input::placeholder{
        font-size: var(--fs-300);
    }

}